<link rel='stylesheet' href='/stylesheets/styleadd.css' >
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
<%- include('../partials/header') %>
<div class = 'items-header'>
<a class="h1-item">My listing items</a></div>

<div class="products_items">
<% items.forEach(function(item) { %> 
    <div>Product Name: <%= item.productName %></div>
    <div>Brand: <%= item.brand %></div>
    <div>Size: <%= item.size %></div>
    <a class='more-info' href="/items/<%= item.id %>">More info..</a>
    <hr>
    <hr>
<%   }); %> 
</div>

<%- include('../partials/footer') %>