<link rel='stylesheet' href='/stylesheets/styleadd.css' >
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">

<%- include('../partials/header') %>

    <div>Product Name: <%= item.productName %></div>
    <div>Brand: <%= item.brand %></div>
    <div>Quality Level: <%= item.qualityLevel %></div>
    <div>Reasons to Sell: <%= item.reasons %></div>
    <div>Location: <%= item.location %></div>
    <div>Category: <%= item.category %></div>
    <div>Price you want to Sell: <%= item.price %></div>
    <div><%= item.image %></div>
    
 <section class="section product">
    <div class="container">

        <a href="/items/:id/edit"><button class="btn btn-outline">Update</button></a>
        <button class="btn btn-outline">Delete</button>

    </div>
</section>
<%- include('../partials/footer') %>