<%- include('../partials/header') %>

    <div>Product Name: <%= item.productName %></div>
    <div>Brand: <%= item.brand %></div>
    <div>Quality Level: <%= item.qualityLevel %></div>
    <div>Reasons to Sell: <%= item.reasons %></div>
    <div>Location: <%= item.location %></div>
    <div>Category: <%= item.category %></div>
    <div>Price you want to Sell: <%= item.price %></div>
    <div><%= item.image %></div>

    
 <section class="section product">
    <div class="container">
        
        <button class="btn btn-outline">Update</button>
    </div>
</section>
<%- include('../partials/footer') %>